/services/auth/.idea/
/services/auth/venv/
/.idea/
/services/auth/config.env
/services/auth/media/
*.log
/services/main/.idea/
/services/main/venv/
/services/main/config.env
/services/main/media/
/venv/
/services/messenger/.idea/
/services/messenger/venv/
/services/messenger/config.env
/services/email/venv/
/services/email/.idea/
/services/email/config.env
